{% extends 'base.html.twig' %}

{% block title %}Petites annonces de Voix-Off{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="mb-5 p-3 card col-md-5 main-background ">
                <div class="card-body  text-light ">
                    <h1 class="h3 mb-3 font-weight-normal text-center mb-5 mt-5">Déposez une annonce</h1>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            {{ form(offersForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                      

{% endblock %}