{% extends 'base.html.twig' %}

{% block title %}Hello CommunityController!{% endblock %}

{% block content %}
    <div class="container">
        <form class="d-flex justify-content-center p-4" role="search">
            <input class="form-control me-2 search-bar align-self-center border-radius-25" type="search" placeholder="Rechercher une personne" aria-label="Search">
            <button class="btn btn-outline-light border-radius-25" type="submit">Rechercher</button>
        </form>
    </div>

{% endblock %}
