{% extends 'base.html.twig' %}

{% block title %}Studio{% endblock %}

{% block content %}
{% block studioBackground %}{% endblock %}

<div class="container">
        <div class="row justify-content-center">
            <div class="mt-5 col-md-4">
            </div>
            <div class="mt-5 col-md-3">
                    <div class="row justify-content-center">
                        <div class="mb-5 p-3 card main-background ">
                            <div class="card-body  text-light ">
                                <h1 class="h3 mb-3 font-weight-normal text-center mb-5 mt-5">Votre enregistrement</h1>
                                <div class="row p-3 justify-content-center">
                                        {{ form(audioRecordForm) }}
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>

</div>

{% endblock %}
