{% extends 'base.html.twig' %}

{% block title %}Studio{% endblock %}

{% block content %}
{% block studioBackground %}{% endblock %}

<div class="container">
        <div class="row justify-content-center">
            <div class="mt-5 col-md-4">
            </div>
            <div class="mt-5 col-md-4">
        {{ form(audioRecordForm) }}

            </div>
        </div>

</div>

{% endblock %}
