{% extends 'base.html.twig' %}

{% block title %}Hello WalletController!{% endblock %}

{% block content %}
            <!-- Search Item -->
            <form class="d-flex justify-content-center p-4" role="search">
                <input class="form-control me-2 search-bar align-self-center border-radius-25" type="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-outline-light border-radius-25" type="submit">Rechercher</button>
            </form>
            <!-- End Search Item -->
{% endblock %}
